body {
    background-color: lightcyan;
}

.forumList {
    width: 100%;
    border-radius: 10px;
    max-width: 100ch;
    background-color: white;
}

.inlineText {
    display: inline;
}

.postAuthor {
    font-size: small;
    color: grey;
}

.categoryTitle {
    font-size: medium;
    color: gray;
}

.postContentText {
    color: black;
}

.postTopBar {
    color: cornflowerblue;
}