.PieChartGeneral{
    width: 90vw;
    height: 90vh;
    /* margin: none; */
    margin-left: 8%;
    margin-right: 8%;
    display: flex;

}

.Table {
    width: 95%;
    display: inline-block;
    margin-right: 5%;
    margin-top: 5%;
    position: relative;
}

.PieChart{
    margin-top: 5%;
    position: relative;
}

.BarChart{
    margin-top: 1%;
    /* position:absolute; */
}

.StockTable{
    width: 90vw;
    position: relative;
    margin-top: 12%;
}

.SortButtons{
    display: flex; 
    width: 100%; 
    margin-top: 2%;
    justify-content: space-between;
}

.InvestmentSortButton{
    height: 100%;
    width: 100%;
    display: flex; 
}

.StockPieChartTitle{
    height: 20px;
    /* color: #673ab7; */
    color: #5423a8;
    font-weight: bold;
    font-size: 250%;
    width: 100%;
    float: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;
}

.Calculator{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.GeneralInfo{
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 20%;
    margin-right: 4%;
    bottom: 10%;
}

.StockList{
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.InvestmentImage{
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    width: 95%;
    height: 190px;
}