.image_container {
    position: relative;
}

.first {
    
    position: relative;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    font-size: 3vw;
    font-weight: bold;
    margin-left: 10px;
    top: 30%;
    left: 65%;
    font-family: 'Poppins', 'sans-serif';
}