.TableContainer {
    max-height: 65vh;
}

.Table {
    max-width: 50%;
    width: 45%;
    display: inline-block;
    margin-right: 5%;
}

.Chart {
    max-width: 50%;
    width: 50%;
    display: inline-block;
}

.AccountBalance {
    margin-top: 5%;
    text-align: center;
}

.SortButtons {
    margin-top: 5%;
}