.TableContainer {
    max-height: 65vh;
}

.Content {
    width: 93vw;
    height: 90vh;
    margin: none;
    display: flex;
}

.Table {
    width: 50%;
    display: inline-block;
    margin-top: 5%;
    left: 5%;
}

.Chart {
    width: 50%;
    left: 2%;
    display: inline-block;
    align-items: stretch;
    position: relative;
    display: flex;
    justify-content: center;
}

.AccountBalance {
    margin-top: 5%;
    text-align: center;
    position: absolute;
    top: 80%;
    display: inline-block;
}

.SortButtons {
    margin-top: 5%;
    max-height: 1vh;
}

.SortButton {
    width: 100%;
}

.DrawerDiv {
    width: 5vw;
    height: 88vh;
    float: left;
    display: flex;
    margin-top: 1%;
}