.TableContainer {
    max-height: 65vh;
}

.Content, .ContentNoMsgs {
    width: 93vw;
    height: 82vh;
    margin: none;
    display: flex;
}

.ContentNoMsgs {
    flex-flow: wrap;
}

.SpendingsTable {
    width: 50%;
    display: inline-block;
    margin-top: 5%;
    left: 5%;
}

.Chart {
    width: 50%;
    left: 2%;
    bottom: 12%;
    display: inline-block;
    align-items: stretch;
    position: relative;
    /* display: flex; */
    justify-content: center;
}

.SpendingsBarChart {
    padding-left: 10%;
}

.SpendingsBarChartTitle {
    position: relative;
    text-align: center;
    padding-top: 3%;
    z-index: -1;
}

.SpendingsSortButtons {
    margin-top: 5%;
    max-height: 1vh;
}

.SortButton {
    width: 100%;
}

.SpendingsModeButtons {
    padding-top: 2%;
    padding-right: 2%;
    height: 1vh;
    float: right;
}

.DrawerDiv {
    width: 5vw;
    height: 88vh;
    float: left;
    display: flex;
    margin-top: 1%;
}